<app-menu></app-menu>


<div class="imagem">
    
    <img src="ranger.png" alt="" />

</div>

<div class="container mt-5">

  <div class="card shadow-sm">
    <div class="card-body">
      <h4 class="card-title">Bem-vindo ao Dashboard FORD, {{ userName }}!</h4>
      <p class="card-text">
        Seu painel de controle centralizado para insights e gerenciamento da frota.
      </p>
      <p class="card-text">
        Utilize o menu de navegação ou o link abaixo para acessar as informações detalhadas dos veículos.
      </p>

      <a routerLink="/dashboard" class="btn btn-primary">Acessar Dashboard</a>
    </div>
  </div>

</div>
